<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= stylesheet_link_tag    "news/application", media: "all" %>
  <%= javascript_include_tag "news/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "News", news.root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <li data-news-hook="main-navigation"><%= link_to "Home", news.root_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><div class="navbar-text"><%= current_user.admin? ? "Admin" : "User" %></div></li>
        <li><%= link_to "Logout", news.destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", news.new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type == "error" ? "danger" : "success" %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
